body{
  margin: 0px;
  background-color: black;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#topContainer{
  display: flex;
  justify-content: center;
  padding: 20px;
  border: 0px;
  margin: 0px;
}

#container{
  border: solid rebeccapurple;
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 700px;
  justify-self: center;
}

#item{
  background-color: deepskyblue;
}

button{
  width: 200px;
  height: 50px;
  border-radius: 15px;
  background-color:deepskyblue ;
  border-color: aliceblue;
  border-style: none;
  font-size: 16px;
}

button:hover,
button:focus {
  background-color:dodgerblue;
}

.row{
  display: flex;
}