body{
  margin: 0px;
}

#topContainer{
  display: flex;
  justify-content: center;
  padding: 20px;
  border: 0px;
  margin: 0px;
}

#container{
  border: solid rebeccapurple;
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 700px;
  justify-self: center;
}

#item{
  background-color: brown;
}

.row{
  display: flex;
}