body{
  margin: 0px;
}

#topContainer{
  display: flex;
  justify-content: center;
  padding: 20px;
  border: 0px;
  margin: 0px;
}

#container{
  border: solid rebeccapurple;
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
}

.row{
  display: flex;
  width: fit-content;
  height: fit-content;
}